/node_modules
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/vendor
.env
.env.local
.env.*.local
.DS_Store
*.log
*.sqlite
*.sqlite-journal
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
.phpunit.result.cache
/tests/Feature/tmp/*
composer.lock
